#meow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* Darken the background */
    z-index: 9999999; /* Force it to the very front */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.meow-content img {
    max-width: 500px;
    border: 5px solid red;
}